allow init debugfs:dir mounton;
allow init self:file execute;
allow init system_file:file execute_no_trans;
allow qti_init_shell devpts:chr_file { read write };
allow init self:file execute_no_trans;
allow init system_file:file execmod;
allow qti_init_shell devpts:chr_file open;
allow init gpu_device:chr_file write;
allow init self:file execmod;
allow init block_device:blk_file write;
allow init gpu_device:chr_file ioctl;
allow init smd_device:chr_file write;
allow init smem_log_device:chr_file write;
allow init system_data_file:fifo_file write;
allow init system_data_file:file append;
allow init video_device:chr_file write;
allow qti_init_shell init:fifo_file read;
allow init qmuxd_socket:sock_file write;
allow init self:netlink_route_socket create;
allow init smd_device:chr_file ioctl;
allow init smem_log_device:chr_file ioctl;
allow init video_device:chr_file ioctl;
allow qti_init_shell init:fifo_file { ioctl getattr };
allow init audio_device:chr_file write;
allow init self:netlink_route_socket bind;
allow init audio_device:chr_file ioctl;
allow init self:netlink_socket create;
allow init debugfs:file write;

