allow mm-qcamerad mm-qcamerad_exec:file execmod;
allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad audio_device:dir search;
allow mm-qcamerad audio_device:chr_file { read write open ioctl };
allow mm-qcamerad system_data_file:dir { add_name write remove_name };
allow mm-qcamerad system_data_file:sock_file { create unlink };

