# oem_rpc_svc service
type oem_rpc_svc, domain;
type oem_rpc_svc_exec, exec_type, file_type;
allow oem_rpc_svc device:chr_file { read write ioctl open };
allow oem_rpc_svc oem_rpc_svc_exec:file execmod;
allow oem_rpc_svc self:capability dac_override;
allow oem_rpc_svc smem_log_device:chr_file { read write ioctl open };
allow oem_rpc_svc system_data_file:dir { write remove_name add_name };
allow oem_rpc_svc system_file:file execmod;
allow oem_rpc_svc system_data_file:sock_file { create unlink };
allow oem_rpc_svc diag_device:chr_file { open read write };

init_daemon_domain(oem_rpc_svc)

