# sensord service
type sensord, domain;
type sensord_exec, exec_type, file_type;
allow sensord sensord_exec:file execmod;
allow sensord su:dir search;
allow sensord su:file { read open };
allow sensord su:lnk_file read;
allow sensord sysfs:file write;
allow sensord system_data_file:dir { write remove_name add_name setattr create };
allow sensord system_data_file:fifo_file { read write open setattr create };
allow sensord system_data_file:file { write setattr create unlink open append };
allow sensord keystore:dir search;
allow sensord keystore:file { read open };
allow sensord keystore:lnk_file read;
allow sensord efs_file:dir search;
allow sensord input_device:dir search;
allow sensord netmgrd:dir search;
allow sensord netmgrd:file read;
allow sensord installd:dir search;
allow sensord rild:dir search;
allow sensord rild:file { read open };
allow sensord rild:lnk_file read;

init_daemon_domain(sensord)

